.base {
  /* inline-block here allows us to use css-transitions on the span element */
  display: inline-block;
  transition: all 0.2s;
  font-size: 18px;
}

.highlighted {
  composes: base;
  transform: translateZ(200px) translateX(200px);
  /*color: blue;*/
}

.notHighlighted {
  composes: base;
}
