.base {
  /* inline-block here allows us to use css-transitions on the span element */
  display: inline-block;
  transition: 'all 0.3s';
  font-size: 14px;
}

.highlighted {
  composes: base;
  /*transform: 'translateZ(100px)'*/
  color: blue;
}

.notHighlighted {
  composes: base;
}
